{% extends 'base.html' %}



{% block main %}


    <div class="row row-cols-1 row-cols-md-8 g-10">
      <div class="d-flex flex-row-reverse">
        <a href="{% url 'delete_lesson' lesson.id %}"><i class="fas fa-trash"></i></a>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
       <a href="{% url 'update_lesson' lesson.id %}"><i class="fas fa-pen"></i></a>
      </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{ lesson.name }}</h5>
        <p class="card-text">
          {{ lesson.description}}
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
  </div>
</div>
{% endblock main %}