{% extends 'base.html' %}



{% block main %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    {% for lesson in lessons %}
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{ lesson.name }}</h5>
        <p class="card-text">
          {{ lesson.description}}
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
  </div>
      {% endfor %}
</div>
{% endblock main %}